<div class="center-align container">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <div class="row">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="input-field col s4 offset-s4">
        <%= f.label :name, :class => "validate" %><br />
        <%= f.text_field :name, autofocus: true %>
      </div>
  </div>

  <div class="row">
    <div class="input-field col s4 offset-s4">
      <%= f.label :username, :class => "validate" %><br />
      <%= f.text_field :username %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s4 offset-s4">
      <%= f.label :email, :class => "validate" %><br />
      <%= f.email_field :email %>
    </div>
  </div>


    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

  <div class="row">
    <div class="input-field col s4 offset-s4">
      <%= f.label :type %><br />
      <%= f.select :type, User.types.map { |type| [type, type.gsub(/ /,"").downcase.capitalize]}  %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s4 offset-s4">
      <%= f.label :password, :class => "validate" %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s4 offset-s4">
      <%= f.label :password_confirmation, :class => "validate" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s4 offset-s4">
      <%= f.label :current_password, :class => "validate" %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off" %>
    </div>
  </div>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "waves-effect waves-light btn blue-text text-lighten-4" %></p>

  <%= link_to "Back", :back, :class => "waves-effect waves-light btn blue-text text-lighten-4" %>
</div>