<!DOCTYPE html>
<html>
<head>
  <title>JrdevApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <% if Rails.env.development? %>
	  <script src="http://localhost:3808/webpack-dev-server.js"></script>
  <% end %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <main>
    <%= yield %>

    <%= javascript_include_tag *webpack_asset_paths('application') %>
  </main>
</body>
</html>
